*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;



}
.solicitud{
    width: 40px;
    padding: 30px;
    margin: auto;

}
.centrado{
    padding: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    font-size: 2em;
    justify-content: center;
    align-items: center;
    display: flex;

}
.formulario{
    margin-bottom: 20px;
    margin: auto;
    margin-top: 100px;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}
.elementos{
    width: 10cm;
    padding: 20px;
    border-radius: 6px;
    margin-bottom: 16px;
    justify-content: center;
    align-items: center;
    display: block;
    
}
.nuevo{
    width: 6cm;
    padding: 20px;
    border-radius: 6px;
    margin-bottom: 16px;
    margin-left: 2px;
}
.button-arrow-left {
    display: inline-flex;
    align-items: center;
    padding: 20px 40px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.button-arrow-left:hover {
    background-color: rgb(230, 229, 229);
    transform: translateX(-5px);
}

.button-arrow-left i {
    margin-right: 10px;
}
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.entorno{
     
     justify-content: center;
     flex-direction: column;
     align-items: center;
     height: 100vh;
     padding:20px ;
     border: 2px;
}
.enviar{
    width: 10cm;
    height: 2cm;
    border-radius: 6px;
    background-color: black;
    color: white;
    font-size: 0.7cm;
}
