*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.solicitud{
    width: 400px;
    margin: auto;
    padding: 20px;
    margin-bottom: 10px;
 
    

}
.centrado{
    padding: 10px 10px 10px;
    width: auto;
    font-family: 'Franklin Gothic Medium';
    font-size: 20px;
    justify-content: center;
    align-items:normal;
    display: flex;

}
.formulario{
    margin-bottom: 40px;
    margin: auto;
    font-family:'Franklin Gothic Medium';
    box-sizing: border-box;
   vertical-align: auto;
    
}
.elementos{
    width: 9cm;
    height: 30px;
    border-radius: 6px;
    margin-bottom: 10px;
    text-align: center; 
    display:inline;
}
.nuevo{
    width:4cm;
    height: 30px;
    border-radius: 6px;
    margin-bottom: 10px;
    margin-right: 24px;
    text-align: center; 
  
}
.contenedor{
    padding:12px 30px 30px;
    display: flex;
    justify-content: center;
    align-items: center;

   
}
.grupo{
    padding:12px 30px 30px;
    display:grid;
    justify-content: center;
    align-items:center;
    height: 20px;
    margin-bottom: 30px;
}
.button-arrow-left {
    display: inline-flex;
    align-items: center;
    padding: 30px 40px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.button-arrow-left:hover {
    background-color: rgb(230, 229, 229);
    transform: translateX(-5px);
}

.button-arrow-left i {
    margin-right: 10px;
}
#enviar{

    width: 10cm;
    border-radius: 18px;
    background-color: black;
    color:white;
    text-align: center;
    align-items: center;
    padding:12px 30px 30px;
    display:grid;
    justify-content: center;
    height: 20px;
    margin-bottom: 30px;
}

.entorno{
     justify-content: center;
     flex-direction: column;
     align-items: center;
     height: 200px;
     padding:20px ;
     border: 2px;

}
div{
    padding: 20px;
    display: grid;
}