/*IMPORTANDO POPPINS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');

/*Estableciendo variables*/
:root {
  --bg-color: #F2F5F7;
  --primary-color: #0E0F10;
  --secondary-color: #FADE3C;
  --bg-skeleton-color: #D9D9D9;
  --primary-border-color: #878787;
  --secondary-borer-color: #000000;
  --text-color: #000000;
  --text-color-revert: #F2F5F7;
  --text-accent-color: #868686;
}

*,
::after,
::before {
  /*Reiniciando estilos*/
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;

  /*Aplicando el estilo de fuente*/
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: var(--text-color);
}

/* Para navegadores WebKit (Chrome, Safari) */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  /* Oculta los botones */
}

/* Para Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
  /* Cambia el estilo a un campo de texto */
}


body {
  /*Aplicando color al body*/
  background-color: var(--bg-color);
}

/*Estilos del nav-container*/
.header-principal.nav-container {
  padding: 10px 10px;
  height: 70px;
  width: 100%;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 999;

  a {
    text-decoration: none;
  }
}

/*Estilos para la sección 2 del navbar*/
.nav-section-2 {
  display: flex;
  gap: 10px;
}

/*Estilos para el nav-logo*/
.nav-logo {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  height: 50px;
  position: relative;

  .nav-logo-img img {
    height: 100%;
  }
}

/*Estilos para el boton del carrito*/
.shopping {
  display: flex;
  align-items: center;
}

#shopping-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  background: transparent;
  position: relative;

  span {
    font-size: 35px;
    color: var(--text-color-revert);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-3px);
  }

  40% {
    transform: translateX(3px);
  }

  60% {
    transform: translateX(-3px);
  }

  80% {
    transform: translateX(3px);
  }

  100% {
    transform: translateX(0);
  }
}

#shopping-button:hover {
  animation: shake .7s ease-in-out;
}

#shopping-button::after {
  content: attr(data-count-item-shopping);
  position: absolute;
  background-color: var(--secondary-color);
  height: 18px;
  width: 18px;
  font-size: 8px;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  left: 65%;
}

/*Estilos para el botón del nav menu*/
.nav__burger__menu {
  cursor: pointer;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 2rem;
  height: 3.5rem;
  border: 0;
  background: transparent;
  gap: 5px;
}

.nav__burger__menu>div {
  background: var(--text-color-revert);
  height: 3.2px;
  width: 100%;
  border-radius: 5px;
  transition: transform .5s;
  transform-origin: left;
}

.navbar__burger__menu--open {
  gap: 8.2px;
}

.navbar__burger__menu--open div:first-child {
  transform: rotate(45deg);
}

.navbar__burger__menu--open div:nth-child(2) {
  opacity: 0;
}

.navbar__burger__menu--open div:last-child {
  transform: rotate(-45deg);
}

/*Estilos para el navbar*/
/*Overlay*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* opacity: 0; */
  /* adjust the opacity to your liking */
  display: none;

  transition: opacity .2s allow-discrete;
}

.navbar--open~.overlay {
  display: block;
}

.nav-section-2 .navbar {
  display: none;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.3s allow-discrete;
  z-index: 1;
  position: fixed;
  left: 30%;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: var(--secondary-color);
  overflow-y: auto;
  border-radius: 3px;

  .nav__menu__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;

    p {
      font-weight: bold;
      flex: 1;
      text-align: center;
      left: 20px;
      position: relative;
    }

    .navbar__burger__menu--open {
      margin-top: 5px;

      div {
        background-color: var(--primary-color);
      }
    }
  }

  .navbar-list {
    height: calc(100% - 25px);
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow: auto;
    scrollbar-gutter: stable;

    .nav-item {
      width: 100%;
    }
  }
}

.nav-section-2 .navbar--open {
  z-index: 1;
  display: block;
  transform: translateX(0);
  opacity: 1;

  @starting-style {
    opacity: 0;
    transform: translateX(100%);
  }
}


/*Estilo para los items del navbar*/
.navbar-list,
.navbar-expanded-list {
  list-style: none;
  text-decoration: none;
}

.navbar-list-item {
  width: 100%;
  display: inline-block;
  text-align: center;
  color: var(--text-color-revert);
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 10px;
  transition: scale .3s;
}

.navbar-list-item:hover {
  scale: 0.9;
}

/*Para las listas expansibles*/
.navbar-expand-label {
  display: flex;
  justify-content: center;

  span {
    color: var(--text-color-revert);
  }
}

.navbar-expanded-list {
  display: none;
  transition: opacity, display;
  transition-duration: 0.5s;
  opacity: 0;
}

.navbar-expand-container {
  position: relative;
}


.navbar-expand-container:hover>.navbar-expanded-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 3px;
  opacity: 1;
  left: 45%;
  margin-top: 1.5px;
  width: 50%;
  background-color: var(--bg-color);
  border: 2px solid var(--primary-color);
  padding: 10px;
  border-radius: 7px;

  @starting-style {
    opacity: 0;
  }
}

.navbar-expanded-list:hover .navbar-expanded-list {
  width: 100%;
  left: 30%;
}

/*Estilos para los sweet alert*/
/*Botón de success*/
div:where(.swal2-icon).swal2-success.custom-sweetAlert-icon [class^=swal2-success-line] {
  background-color: var(--secondary-color) !important;
  z-index: 10;
}

.swal2-success.custom-sweetAlert-icon {
  .swal2-success-ring {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
  }
}

/*Botón de error*/
div:where(.swal2-icon).swal2-error.custom-sweetAlert-icon [class^=swal2-x-mark-line] {
  background-color: var(--secondary-color);
}

div:where(.swal2-icon).swal2-error.custom-sweetAlert-icon {
  color: var(--primary-color);
  border-color: var(--primary-color);
  background-color: var(--text-color);
}

/*Botón de warning e info*/
div:where(.swal2-icon).custom-sweetAlert-icon {
  border-color: var(--text-color) !important;
  background-color: var(--primary-color);

  .swal2-icon-content {
    color: var(--secondary-color);
  }
}

/*POP UP*/
.custom-sweetAlert-popup {
  border: 7px solid var(--primary-color);
  max-width: 400px;
}

/*General Skeleton*/
@keyframes loading-skeleton {

  /*En el inicio el fondo (Osea el degradado va estar en su 200% ejex y en el Y ni se mueve)*/
  0% {
    background-position: 200% 0;
  }

  /*Al finalizar la animación hacemos que regrese a la posición original osea le quitamos el 200% que tenía*/
  100% {
    background-position: -200% 0;
  }
}

.general-skeleton {
  background-image: linear-gradient(100deg, #e0e0e0 30%, #f0f0f0 50%, #e0e0e0 70%);
  background-size: 200% 100%;
  animation: loading-skeleton 2s infinite;
  border-radius: 10px;
}

.general-skeleton-text {
  padding: 10px;
  width: 100%;
  margin: 10px 0;
}

/*Método para evitar el scroll cuando el navbar esta activo*/
.body-no-scroll {
  overflow-y: hidden;
}

/*Estilos para los botones en general*/
.general-btn {
  background-color: var(--primary-color);
  color: var(--text-color-revert);
  text-align: center;
  padding: 10px 0;
  border-radius: 13px;
  cursor: pointer;
  font-size: 1em;
}

@media (width >=1024px) {

  /*No evitar el scroll*/
  .body-no-scroll {
    overflow-y: initial;
  }

  .overlay {
    display: none !important;
  }

  /*Estilos para el menu del navbar*/
  .nav__menu__container {
    display: none !important;
  }

  /*Estilos para el logo*/
  .nav-logo {
    flex: 0;
    left: 0;
    height: 65px;
  }

  .header-principal.nav-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .nav-section-2 {
    position: relative;
    justify-content: center;
  }

  .nav-section-2 .navbar {
    overflow-y: initial;
    position: static;
    display: flex;
    opacity: 1;
    transform: translateX(0);
    background-color: transparent;
    align-items: center;

    .navbar-list {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0;
      gap: 5rem;
      position: relative;
      overflow: initial;
    }
  }

  .navbar-list-item {
    position: relative;
    padding: 0;
    border-bottom: 2px solid transparent;
    border-radius: 0;
    width: max-content;
  }

  .navbar-list-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: var(--secondary-color);
    height: 2px;
    transition: width 0.3s ease-in-out;
  }

  .navbar-list-item:hover {
    scale: 1;
  }

  .navbar-list-item:hover::after {
    width: 75%;
  }

  .navbar-expand-container:hover>.navbar-expanded-list {
    left: 0;
    width: 100%;
    background-color: var(--bg-color);
    border: 2px solid var(--primary-color);
    padding: 10px;
    border-radius: 7px;

    @starting-style {
      opacity: 0;
    }
  }

  .navbar-expanded-item .navbar-list-item {
    width: 100%;
    border-radius: 7px;
    border: 0;
  }
}

/*Método para añadir el toTopButton*/
#to-top-btn {
  cursor: pointer;
  aspect-ratio: 1/1;
  height: 75px;
  font-size: xx-large;
  color: var(--text-color);
  border-radius: 50%;
  bottom: 10px;
  right: 10px;
  background-color: var(--secondary-color);
  position: fixed;
  transition: opacity .3s ease-in,
    display .3s allow-discrete;

  display: none;
  opacity: 0;

  @starting-style {
    opacity 1;
  }
}

#to-top-btn.show {
  display: block;
  opacity: 1;

  @starting-style {
    opacity 0;
  }
}

/* Cards de productos */

.product-card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: transparent;
  overflow: hidden;
  border: 2px solid var(--primary-border-color);
  border-radius: 10px;
  box-shadow: 5px 5px 10px #929292,
    -5px -5px 10px #ffffff;
  padding: 30px;
  gap: 10px;
  margin: 5px;
  cursor: pointer;

  .product-img-container {
    height: 261px;
    max-height: 261px;
    border-radius: 7px;
    overflow: hidden;

    .product-img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .product-info {
    .product-info-title {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .product-info-category {
      color: var(--text-accent-color);
      font-weight: bold;
    }

    .product-info-price {
      display: block;
      font-weight: bold;
      font-size: 2rem;
    }
  }

  .product-add-cart-btn {
    width: 100%;
  }

  .product-add-cart-btn:hover {
    transition: scale .3s ease;
    scale: 1.1;
  }

  .product-card.product-skeleton:hover {
    background-color: var(--bg-color);
    border-width: 2px;
    border-color: var(--primary-border-color);
  }

}

.product-card:hover {
  background-color: var(--secondary-color);
  border-width: 5px;
  margin: 0;

  border-color: var(--secondary-border-color);
}

.product-card .product-card .product-card.swiper-slide {
  border-color: var(--bg-color);
}

.product-card.swiper-slide:hover {
  background-color: var(--primary-color) !important;

  .product-info-title,
  .product-info-price {
    color: var(--bg-color);
  }

  .product-add-cart-btn {
    background-color: var(--bg-color);
    color: var(--primary-color);
  }
}

/* Modal de producto */


/*Sección para el modal*/
dialog {
  transition: scale .3s ease-in-out,
    display .3s allow-discrete;
  scale: 0;
}

dialog[open] {
  scale: 1;

  @starting-style {
    scale: 0;
  }
}


#addCartModal {
  margin: auto;
  border: 5px solid var(--primary-color);
  background-color: var(--secondary-color);
  padding: 10px;
  width: 100%;
  border-radius: 10px;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    #close-modal {
      padding: 5px 10px;
      border-radius: 100%;
      background-color: var(--primary-color);
      color: var(--text-color-revert);
      font-weight: bold;
      cursor: pointer;
    }
  }

  .product-section {
    display: grid;
    gap: .5rem;
    grid-template-columns: 1fr;

    .product-img-container {
      border-radius: 10px;
      padding: 10px;
      justify-self: center;
      max-height: 350px;
      overflow: hidden;

      .product-img {
        box-shadow: -11px -9px 0px 0px #000;
        border-radius: 7px;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .product-details {
      border: 3px solid var(--primary-color);
      padding: 1.5rem;

      .product-title {
        width: 100%;
        text-align: center;
        text-decoration: underline;
        color: var(--text-color);
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: 1rem;
      }

      .product-quantity-section {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        justify-content: space-between;
        width: 100%;

        p {
          width: 100%;
          text-align: center;
          font-weight: bold;
          color: var(--text-color);
        }

        .quantity-section {
          display: flex;
          justify-content: space-between;
        }

        .confirm-add-product {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        footer {
          background-color: transparent !important;

          .general-btn {
            width: 100%;
          }
        }
      }
    }
  }

  #product-quantity {
    text-align: center;
    width: 50%;
    display: grid;
    place-content: center;
    background-color: var(--primary-color);
    color: var(--text-color-revert);
    border-radius: 10px;
  }

  .quantity-btn {
    padding: .63rem 1rem;
    background-color: var(--primary-color);
    color: var(--text-color-revert);
    border-radius: 50%;
    cursor: pointer;
  }

  .quantity-btn:focus {
    scale: 0.8;
  }

  #modal-product-price {
    width: 100%;
    text-align: center;
    color: var(--text-color);
    font-weight: bold;
    font-size: large;
  }
}


#id-modal-input {
  display: none;
}

/* ----- ESTILOS PARA INDEX ----- */

/* ----- BANNER HERO ----- */
.container {
  padding: 5%;
}

/* .hero-banner {

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 0;

  .hero-banner-content {
    .hero-banner-title {
      font-size: 80px;
      font-weight: 600;
    }

    img {
      position: relative;
      top: -40px;
    }
  }

  .hero-banner-logo {
    img {
      width: 450px;
    }
  }
} */

.hero-banner {
  position: relative;
  overflow: hidden;
  height: 500px;

  .hero-banner-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    /* opacity: 0.5; */
  }

  .hero-banner-content {
    position: relative;
    z-index: 1;

    .hero-banner-title {
      font-size: 80px;
      font-weight: 600;
      text-shadow: 0 0 10px var(--secondary-color);
    }
  }
}

/* ----- SECCIÓN DE RAZONES PARA COMPRAR ----- */

#why-to-buy-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
  gap: 30px;
}

.why-to-buy-title {
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: 30px;
}

@keyframes appear-card {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.why-to-buy-card {
  flex: 1;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 40px 20px;
  position: relative;
  animation: appear-card ease-in-out;
  animation-timeline: view();
  animation-range: entry 0;

  .why-to-buy-card-title {
    font-size: 1.5em;
    font-weight: 600;
  }

  .why-to-buy-card-description {
    font-size: 1em;
    color: var(--text-accent-color);
  }

  span {
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 2em;
    padding: 10px;
    border-radius: 50%;
  }
}

.why-to-buy-card:nth-of-type(3n+1) span {
  background-color: var(--secondary-color);
}

.why-to-buy-card:nth-of-type(2) span,
.why-to-buy-card:nth-of-type(3) span {
  background-color: var(--primary-color);
  color: var(--text-color-revert);
}

/* ----- SECCIÓN DE PRODUCTOS FAVORITOS ----- */
.fav-products-section {
  background-color: var(--secondary-color);

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 30px;
  padding-right: 0;

  .fav-products-title {
    font-size: 3.5em;
    font-weight: 700;
  }

  .fav-products-caption {
    font-size: 1.25em;
    font-weight: 400;
  }
}


.swiper-slide {
  flex: 0 0 auto;
  width: 60%;
  scroll-snap-align: start;
  margin-right: 10px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: transparent !important;
}

@keyframes appear-favs-content {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.appear-favs-content {
  animation: appear-favs-content ease-in;
  animation-timeline: view();
  animation-range: entry 0 cover 30%;
}


#fav-products-swiper {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-margin-top: 10px;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

#fav-products-swiper:hover {
  scrollbar-color: var(--primary-color) transparent;
}


/* ----- SECCIÓN DE NEWSLETTER ----- */

.newsletter-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: inherit 50% !important;

  .newsletter-article {
    text-align: center;

    .newsletter-title {
      font-size: 2.5em;
      font-weight: 700;
    }

    .newsletter-caption {
      font-size: 1.25em;
      font-weight: 400;
      color: var(--text-accent-color);
    }
  }

  .newsletter-form {
    display: grid;
    grid-template-areas:
      "name surname"
      "email email"
      "terms terms"
      "submit submit";
    gap: 10px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;

    input {
      padding: 10px;
      border-radius: 10px;
      border: 1px solid rgba(0, 0, 0, 0.2);
    }
  }

  .form-group.name {
    grid-area: name;
  }

  .form-group.surname {
    grid-area: surname;
  }

  .form-group.email {
    grid-area: email;
  }

  .form-group.terms {
    grid-area: terms;
    flex-direction: row;
  }

  button {
    grid-area: submit;
  }
}

/* ----- FOOTER ----- */
footer {
  background-color: var(--primary-color);

  h2,
  h3,
  p {
    color: var(--text-color-revert);
  }

  .footer-content {
    display: grid;
    grid-template-areas:
      "logo logo explore visit-us"
      "logo logo explore contact";
    gap: 20px;
  }

  .footer-section {

    h2 {
      font-size: 2.5em;
      font-weight: 600;
    }

    h3 {
      font-size: 1.5em;
      margin-bottom: 20px;
    }

    h4 {
      font-size: 2em;
      font-weight: 600;

      background: var(--bg-color);
      background: linear-gradient(to right, var(--bg-color) 0%, var(--secondary-color) 100%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .footer-logo {
    width: 100px;
    filter: drop-shadow(0 0 5px var(--secondary-color));
  }

  .footer-section.logo {

    grid-area: logo;

    .social-icons {
      margin-top: 20px;

      .social-icon img {
        color: var(--secondary-color);
      }
    }
  }

  .footer-section.explore {
    grid-area: explore;

    .navbar-list {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  .footer-section.visit-us {
    grid-area: visit-us;
  }

  .footer-section.contact {
    grid-area: contact;
  }
}

/* ----- MEDIA QUERIES ----- */
@media (width >=768px) {

  /*Sección del modal*/
  #addCartModal {
    max-width: 500px;

    .product-section {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (width <=1024px) {

  .hero-banner {
    justify-content: center;
  }

  .hero-banner-content .hero-banner-title {
    text-align: center;
    font-size: 2.5em !important;
  }

  .hero-banner-content img {
    width: 80%;
  }

  .hero-banner-logo {
    display: none;
  }

  .footer-content {
    grid-template-areas:
      "logo"
      "explore"
      "visit-us"
      "contact" !important;
    text-align: center;
  }

}

/*Mobile*/
@media (width <=767px) {

  .hero-banner {
    height: 250px;

    .hero-banner-content {
        margin-top: 50px;
    }
  }

  .why-to-buy-card {
    width: calc(100dvw - 30px);
  }

  .fav-products-title, .fav-products-caption{
    width: calc(100dvw - 40px);
    word-wrap: break-word;
  }

  .appear-favs-content{
    width: calc(100dvw - 40px);
  }

  .newsletter-form {
    grid-template-areas:
      "name"
      "surname"
      "email"
      "terms"
      "submit" !important;
  }
}