
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  flex: auto;
  display: flex;
  
}

title {
  visibility: hidden;
}

body{
  background:  rgb(251, 246, 197) !important;
}
#container{
  padding: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;

  .texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    h1 {
      font-size: 10rem;
    }

    p {
      font-size: 1.5rem;
    }
  }

  img {
    border-radius: 50%;
  }
}
/* .texto{
  margin-right: 20px;
display: flex;
text-align: center;
padding: 400px;
}
.error{
  padding: 10% 20% 5%;
  font-size: 10rem;
  text-align: center;
  justify-content: center;
  font-family: Arial, Helvetica;
}
.subtitulo{
  font-weight: bold;
  font-size:2rem;
  text-align: center;
  justify-content: center;
  
}
p{
  font-weight: bold;
  font-size: 1rem;
  text-align: justify;
 
}

img{

  border-radius: 100px;
  margin-left: 50%;
  
} */