/*Sección del parallax*/
main {
  margin-bottom: 10px;
}

.body-no-scroll-modal-opened {
  overflow-y: hidden !important;
}

.banner-container {
  width: 100%;
  overflow: hidden;
  height: 250px;
  border-radius: 0 !important;
  position: relative;
  perspective: 1px;
}

.banner-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.banner-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateZ(-1px) scale(2.2);
  filter: brightness(0.45) !important;
}

.banner-content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-content img {
  max-width: 100%;
  height: 53px;
  z-index: 2;
}

/*Estilos para animación de carga*/
.on-load-img-fn-loaded {
  animation: none !important;
  background-image: none !important;
}

.on-load-img-fn>img {
  opacity: 0;
  filter: blur(4px);
  transition: opacity 200ms ease-out, filter 1s ease-out;
}

.on-load-img-fn-loaded>img {
  filter: blur(0);
  opacity: 1;
}

/*Estilos parallax personalizados*/
.star-wars .banner-content img {
  height: 100px;
}

.got .banner-content img {
  height: 150px;
}

/*Contenedor del contenido de la página*/
.main-content-products-J {
  padding: 0 5%;
}

/*Sección de los filtros*/
.filters-orders {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 2rem 0 5px;

  .filter-order-button {
    cursor: pointer;
    background-color: transparent;
    width: 150px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: flex-end;

    .filter-order-icon {
      font-size: 46px;
    }

    .filter-order-text {
      font-size: 20px;
      text-decoration: underline;
    }
  }

  .filter-order-button::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: var(--secondary-color);
    height: 2px;
    transition: width 0.3s ease-in-out;
  }

  .order-option::after {
    right: 0;
    left: initial;
  }

  .filter-option-btn {
    position: relative;
    justify-content: initial;
  }

  .order-option {
    position: relative;
    width: fit-content;
  }
}

.filter-order-button:hover::after{
  width: 180px;
}
.order-option:hover::after{
  width: calc(100% + 10px);
}

#order-option {
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
}

/* [popovertarget="filter-options-panel"] {
  anchor-name: --filter-options;
} */

/* [popovertarget="order-options-panel"] {
  anchor-name: --order-options;
} */

/* #order-options-panel:popover-open+.filter-order-button::after {
  width: 200px;
}

.filter-options-panel:popover-open+.filter-order-button::after {
  width: 90%;
} */

#order-options-panel:popover-open {
  opacity: 1;

  @starting-style {
    opacity: 0;
  }
}

.filter-options-panel:popover-open {
  opacity: 1;

  @starting-style {
    opacity: 0;
  }
}

/*CAMBIANDO TODO POR USAR ANCHOR*/
.checked-filter,
.checked-order {
  display: none;
}

.checked-filter:checked+.filter-option-btn .filter-options-panel {
  display: block;
  opacity: 1;

  @starting-style {
    opacity: 0;
  }
}

.checked-order:checked+.order-option #order-options-panel {
  display: block;
  opacity: 1;

  @starting-style {
    opacity: 0;
  }
}

.checked-order:checked+.order-option::after {
  width: calc(100% + 10px);
}

.checked-filter:checked+.filter-order-button::after {
  width: 180px;
}

.filter-options-panel,
#order-options-panel {
  display: none;
  width: max-content;
  /*Borrar si se usa anchor*/
  margin-top: 10px;
  position: absolute;
  padding: 4px 10px;
  /* position-anchor: --filter-options; */
  /* left: anchor(--filter-options left); */
  /* top: anchor(--filter-options bottom); */
  top: 60px;
  /*Borrar si se usa anchor*/
  z-index: 30;
  /*Borar si se usa anchor*/
  background-color: var(--secondary-color);
  border: 4px solid var(--primary-color);
  border-radius: 10px;
  opacity: 0;
  transition: opacity .3s allow-discrete;
  transform-origin: top left;

  ul {
    list-style: none;
    text-align: left;
    font-size: 1rem;
  }
}

#order-options-panel {
  width: fit-content;
  /* position-anchor: --order-options; */
  /* left: calc(anchor(--order-options left) + 20px); */
  /* top: anchor(--order-options bottom); */

}

input[type="checkbox"] {
  appearance: none;
  background-color: var(--bg-skeleton-color);
  /* Background negro */
  padding: 5px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: var(--primary-color);
}

input[type="radio"] {
  position: relative;
  appearance: none;
  background-color: var(--primary-color);
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

input[type="radio"]:checked::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  /* Círculo amarillo */
  position: absolute;
  transform: translate(-52%, -51%);
}


#filters-active {
  width: 100%;
  display: flex;
  gap: 20px;
  overflow-x: auto;
  transition: transform 0.5s ease-in;
}

.filter-active:nth-child(even of .show-filter) {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-border-color);

  color: var(--text-color-revert);
}

.filter-active:nth-child(odd of .show-filter) {
  background-color: var(--secondary-color);
  border: 2px solid var(--primary-color);
}


.filter-active {
  display: flex;
  height: 3.5rem;
  border-radius: 10px;
  padding: 10px;
  width: 245px;
  margin-top: 3px;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
  transition: opacity .5s ease-in-out, display .5s allow-discrete, transform .5s ease;
  /* transition-duration: .5s;
  transition-behavior: ease-in-out; */
  display: none;
  opacity: 0;
  @starting-style {
    opacity: 1;
  }

  .filter-text {
    color: inherit;
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    position: relative;
    left: 5%;
    width: max-content;
  }

  .discart-filter-button,
  #discart-filter-all-button {
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    z-index: 10;
  }
}

#discart-filter-all-button {
  cursor: pointer;

  .filter-text {
    left: 0;
  }
}

.filter-active.show-filter {
  display: flex;
  opacity: 1;

  @starting-style {
    opacity: 0;
  }
}

/*Sección de los productos*/
#products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.product-skeleton {

  .product-info-title {
    padding: 15px;
  }

  .product-info-category,
  .product-info-price {
    width: 50%;
  }

  .product-info-price {
    padding: 20px;
  }

  .general-btn {
    padding: 25px;
  }
}

/*Estilos para cuando no se encuentra un producto*/
#product-notFound {
  text-align: center;
  display: none;
}


/*Estilos para cuando el formulario de busqueda*/
.search-section {
  width: 100%;
  display: inline-flex;
  justify-content: flex-end;
  gap: 5px;
  margin-bottom: 5px;

  .general-btn {
    width: 50px;
  }
}

#search-product-input {
  padding: 3px;
  border: 1px solid;
  border-radius: 7px;
}

/*Animación de entrada de las card*/
@keyframes showProductsCardJ{
  from{
    opacity: 0;
    scale: 10%;
  }

  to{
    opacity: 1;
    scale: 100%;
  }
}

/*Asignando estilos a las cards*/
.product-card{
  view-timeline: --reveal-card;
  animation-name: showProductsCardJ;
  animation-fill-mode: both;
  animation-timeline: --reveal-card;
  animation-range: entry 25% cover 35%;
}

/*Media query para tablets en adelante*/
@media (width >=768px) {

  .filter-options-panel,
  #order-options-panel {
    top: 40px;
    /*Borrar si se usa anchor*/
  }

  .banner-container {
    height: 350px;
  }

  .filter-option-btn {
    gap: 25%;
  }

  .filters-orders {
    .filter-order-button {
      .filter-order-text {
        font-size: 23px;
      }
    }
  }

  .filter-options-panel:popover-open+.filter-order-button::after {
    width: 125%;
  }

  #order-options-panel {
    left: calc(anchor(--order-options center));
  }

  #order-options-panel:popover-open+.filter-order-button::after {
    width: 300px;
  }

  #filters-active {
    display: flex;
    flex-wrap: wrap;
  }

  #order-option {
    font-size: 23px;
  }

  .star-wars .banner-content img {
    height: 200px;
  }

  .product-card{
    animation-range: entry 25% cover 50%;
  }
}

@media(width >=950px){
  .product-card{
    animation-range: entry 1% cover 20%;
  }
}

.paralax-oscar {
  background: #fff fixed no-repeat 10% 10%;
  background-size: cover;
}

.bg-po {
  background-image: url(../../assets/banners/anime.webp);
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

/*Media query para pc en adelante*/
@media (width >=1024px) {
  #order-options-panel {
    left: calc(anchor(--order-options right) - 15%);
    ;
  }

  #products-container {
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  }

  #addCartModal {
    max-width: 600px;
  }

  .marvel .banner-bg img {
    object-position: top;
  }

  .product-card{
    animation-range: entry 1% cover 24%;
  }
}